Options -Indexes -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^403$ 403.php [NC,L]
RewriteRule ^404$ 404.php [NC,L]
RewriteRule ^docs/([a-z0-9\-.]*)/(.*)$ docs.php?version=$1&route=$2 [NC,L]
RewriteRule ^docs/([a-z0-9\-.]*)$ docs.php?version=$1 [NC,L]
RewriteRule ^docs$ docs.php [NC,L]

ErrorDocument 403 https://gabrielsilva.dev.br/glowie/403
ErrorDocument 404 https://gabrielsilva.dev.br/glowie/404