/* Syntax highlighter theme (from https://highlightjs.org) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github-dark.min.css');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

* {
    font-family: 'Geist', sans-serif;
}

/* Theme colors */
:root {
    --bg-color: #09090b;
    --menu-bg-color: #09090b;
    --text-color: #fafafa;
    --primary-color: #bdbdbd;
    --secondary-color: #757575;
    --code-block-color: #23241f;
    --menu-border-color: #424242;
    --header-bg-color: #424242;
    --header-text-color: #ffffff;
}
