/* Syntax highlighter theme (from https://highlightjs.org) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github.min.css');

/* Font (from https://fonts.google.com) */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

/* Theme colors */
:root {
    --font: 'Geist', sans-serif;
    --code-font: 'Geist Mono', monospace;
    --bg-color: #ffffff;
    --menu-bg-color: #fafafa;
    --text-color: #212121;
    --primary-color: #ec1c64;
    --secondary-color: #ed578b;
    --code-block-color: #f8f8f8;
    --menu-border-color: lightgray;
    --header-bg-color: #ec1c64;
    --header-text-color: #ffffff;
}
