footer {
    background: var(--color-gradient);
    color: white;
    font-size: 14px;
    padding: 20px 0;

    a {
        color: white;
        border-bottom: 1px dotted white;
        @include transitionAll();

        &:hover {
            color: var(--color-soft);
            text-decoration: none;

            @media (prefers-color-scheme: dark) {
                color: lightgray;
            }
        }
    }

    i {
        color: var(--color-soft);

        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }
}
