a.mobile-menu-button{
    border-radius: 5px;
    position: absolute;
    top: 30px;
    cursor: pointer;
    right: 20px;
    border: 1px solid white;
    color: white;
    padding: 10px 15px;
    z-index: 2;
    font-size: 20px;

    @media (min-width: 992px){
        display: none;
    }
}

section.mobile-menu{
    background: $gradient;
    max-height: 0;
    overflow: hidden;
    @include transitionAll();

    &.show{
        max-height: 250px;
    }

    .nav-link{
        padding: 12px 20px;
        text-align: center;
        display: block;
        
        a{
            position: relative;
            color: white;
            text-decoration: none;

            &.active{
                &:after{
                    content: '';
                    width: calc(100% + 20px);
                    position: absolute;
                    bottom: -10px;
                    left: -10px;
                    height: 2px;
                    background-color: white;
                }
            }
        }
    }

    @media (min-width: 992px){
        display: none;
    }
}