@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

section.header {
  background-color: #ed578b;
  position: relative;
  min-height: 200px;
}

section.header .shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section.header .shape-divider .shape-fill {
  fill: #fcecf3;
}

section.header .shape-divider svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 150px;
}

section.header section.menu {
  padding: 40px 0;
}

section.header section.menu .nav-link {
  color: white;
  position: relative;
}

section.header section.menu .nav-link:after {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  content: '';
  width: 0;
  position: absolute;
  bottom: 2px;
  left: 10px;
  height: 2px;
  background-color: white;
}

section.header section.menu .nav-link:hover:after, section.header section.menu .nav-link.active:after {
  opacity: 1;
  width: calc(100% - 20px);
}

section.header section.menu .logo {
  -webkit-filter: grayscale(1) brightness(100);
          filter: grayscale(1) brightness(100);
  height: 50px;
}

@media (max-width: 991px) {
  section.header {
    min-height: auto;
  }
  section.header section.menu {
    padding: 30px 0;
  }
  section.header .logo {
    display: block;
    margin: auto;
  }
  section.header .shape-divider {
    display: none;
  }
  section.header .menu-links {
    display: none;
  }
}

section.index-banner {
  background-color: #fcecf3;
  padding-bottom: 150px;
}

section.index-banner img {
  width: 100%;
}

section.index-banner h1 {
  font-size: 36px;
  color: #ec1c64;
}

section.index-banner h5 {
  font-weight: 300;
}

section.index-banner .button {
  display: inline-block;
  background-color: #ed578b;
  color: white;
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid #ed578b;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

section.index-banner .button:hover {
  background-color: #ec1c64;
}

section.index-banner .button.docs {
  margin-left: 10px;
  background-color: white;
  color: #ed578b;
}

section.index-banner .button.docs:hover {
  background-color: #f3f3f3;
}

section.index-banner .fa-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.index-banner .fa-ul li {
  width: 50%;
  color: #ec1c64;
}

@media (max-width: 375px) {
  section.index-banner .button {
    width: 100%;
    text-align: center;
    max-width: 300px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 575px) {
  section.index-banner .fa-ul li {
    width: 100%;
  }
}

@media (max-width: 991px) {
  section.index-banner {
    padding: 30px 0;
  }
  section.index-banner h1 {
    font-size: 26px;
  }
  section.index-banner h5 {
    font-size: 16px;
  }
  section.index-banner .img-banner {
    display: none;
  }
}

section.index-separator {
  padding: 60px 0;
}

section.index-separator .button {
  display: inline-block;
  background-color: #ed578b;
  color: white;
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid #ed578b;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

section.index-separator .button:hover {
  background-color: #ec1c64;
}

section.index-separator .button.docs {
  margin-left: 10px;
  background-color: white;
  color: #ed578b;
}

section.index-separator .button.docs:hover {
  background-color: #f3f3f3;
}

section.index-separator h1 {
  font-size: 36px;
  text-align: center;
}

section.index-separator.background {
  background-color: #fcecf3;
}

section.index-separator.background h1 {
  color: #ec1c64;
}

section.index-separator h5 {
  color: dimgray;
  font-weight: 300;
  font-size: 18px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

section.index-separator .card {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  cursor: pointer;
}

section.index-separator .card:hover {
  border-color: #c27a93;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 2px 10px rgba(236, 28, 100, 0.2);
          box-shadow: 2px 2px 10px rgba(236, 28, 100, 0.2);
}

section.index-separator .card-body {
  text-align: center;
  padding: 30px 10px;
}

section.index-separator .card-body i {
  color: #ec1c64;
  font-size: 40px;
  display: block;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  section.index-separator .card {
    margin: 10px 0;
  }
}

a.mobile-menu-button {
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #ed578b;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  z-index: 2;
  font-size: 20px;
}

@media (min-width: 992px) {
  a.mobile-menu-button {
    display: none;
  }
}

section.footer {
  background-color: #ed578b;
  color: white;
  font-size: 14px;
  padding: 20px 0;
}

section.footer a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

section.footer a:hover {
  color: #fcecf3;
}

section.footer i {
  color: #fcecf3;
}

section.docs-header {
  background-color: #fcecf3;
  padding-bottom: 50px;
}

section.docs-header h1 {
  font-size: 36px;
  color: #ec1c64;
}

section.docs-header a {
  color: #ec1c64;
  text-decoration: none;
}

@media (max-width: 991px) {
  section.docs-header {
    padding: 30px 0;
  }
  section.docs-header h1 {
    font-size: 30px;
  }
}

section.docs {
  padding: 30px 0;
}

section.docs a {
  color: #ed578b;
}

section.docs h1 {
  font-weight: 500;
  font-size: 32px;
  color: #ed578b;
  margin-bottom: 30px;
}

section.docs h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}

section.docs pre {
  background-color: #fafafa;
  padding: 10px;
  font-family: 'Lucida Console', monospace !important;
}

section.docs pre * {
  font-family: 'Lucida Console', monospace !important;
}

@media (max-width: 991px) {
  section.docs h1 {
    font-size: 26px;
  }
}
