@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$primary: #ed578b;
$soft: #fcecf3;
$strong: #ec1c64;
$gradient: linear-gradient(90deg, rgba(237, 87, 139, 1) 0%, rgba(237, 87, 106, 1) 100%);

@mixin transitionAll() {
    transition: 0.3s all ease;
}

body {
    background-color: $primary;
}

main {
    background-color: white;
}

* {
    font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
    color: white;
    background: $primary;
}

::selection {
    color: white;
    background: $primary;
}

@import 'header';
@import 'index';
@import 'mobile-menu';
@import 'footer';
@import 'docs';
@import 'error';
