@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color-primary: #ed578b;
  --color-soft: #fcecf3;
  --color-strong: #ec1c64;
  --color-gradient: linear-gradient(90deg, rgba(237, 87, 139, 1) 0%, rgba(237, 87, 106, 1) 100%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #a4c3d3;
    --color-soft: #263238;
    --color-strong: white;
    --color-gradient: linear-gradient(90deg, #212121 0, #303030 100%);
  }
}

body {
  background-color: var(--color-primary);
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }
}

main {
  background-color: white;
}
@media (prefers-color-scheme: dark) {
  main {
    background-color: #37474f;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

::-moz-selection {
  color: white;
  background: var(--color-primary);
}

::selection {
  color: white;
  background: var(--color-primary);
}

header {
  background: var(--color-gradient);
  position: relative;
  min-height: 200px;
}
header .shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
  transform: rotate(180deg);
}
header .shape-divider .shape-fill {
  fill: var(--color-soft);
}
header .shape-divider svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 150px;
}
header section.menu {
  padding: 40px 0;
}
header section.menu .nav-link {
  color: white;
  position: relative;
}
header section.menu .nav-link:after {
  transition: 0.3s all ease;
  opacity: 0;
  content: "";
  width: 0;
  position: absolute;
  bottom: 2px;
  left: 10px;
  height: 2px;
  background-color: white;
}
header section.menu .nav-link:hover:after, header section.menu .nav-link.active:after {
  opacity: 1;
  width: calc(100% - 20px);
}
header section.menu .logo {
  filter: grayscale(1) brightness(100);
  height: 50px;
  transition: 0.3s all ease;
}
header section.menu .logo:hover {
  transform: translateX(5px);
}
@media (max-width: 991px) {
  header {
    min-height: auto;
  }
  header section.menu {
    padding: 30px 0;
  }
  header .logo {
    display: block;
    margin: auto;
  }
  header .shape-divider {
    display: none;
  }
  header .menu-links {
    display: none;
  }
}

section.index-banner {
  background-color: var(--color-soft);
  padding-bottom: 80px;
}
section.index-banner .img-banner .bg {
  width: 100%;
  position: relative;
}
section.index-banner .img-banner .anim1 {
  position: absolute;
  top: 10px;
  left: 0;
  animation: anim1 1s linear alternate infinite;
}
@keyframes anim1 {
  from {
    top: 0px;
  }
  to {
    top: 10px;
  }
}
section.index-banner .img-banner .anim2 {
  position: absolute;
  top: -20px;
  left: 120px;
}
section.index-banner .img-banner .anim3 {
  position: absolute;
  top: -10px;
  right: 120px;
}
section.index-banner .img-banner .anim4 {
  position: absolute;
  top: 50px;
  right: 0;
  animation: anim4 1s linear alternate infinite;
}
@keyframes anim4 {
  from {
    right: 0px;
  }
  to {
    right: 10px;
  }
}
section.index-banner .img-banner .attrib {
  margin-top: 20px;
  font-size: 12px;
  display: block;
  color: dimgray;
  text-align: center;
}
section.index-banner pre {
  margin: 20px 0px 10px 0;
  background-color: #fafafa;
  font-family: "Roboto Mono", monospace;
  padding: 10px 25px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
@media (prefers-color-scheme: dark) {
  section.index-banner pre {
    background-color: #37474f;
    color: white;
  }
}
section.index-banner h1 {
  font-size: 36px;
  color: var(--color-strong);
  border-right: 5px solid var(--color-primary);
  display: inline;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-primary);
  }
}
section.index-banner h5 {
  font-weight: 300;
}
section.index-banner .button {
  display: inline-block;
  background: var(--color-gradient);
  color: white;
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid var(--color-primary);
  transition: 0.3s all ease;
}
section.index-banner .button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 0 var(--color-primary);
}
section.index-banner .button.docs {
  margin-left: 10px;
  background: white;
  color: var(--color-primary);
}
@media (prefers-color-scheme: dark) {
  section.index-banner .button.docs {
    color: var(--color-soft);
  }
}
section.index-banner .fa-ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
section.index-banner .fa-ul li {
  width: 50%;
  color: var(--color-strong);
}
@media (max-width: 375px) {
  section.index-banner .button {
    width: 100%;
    text-align: center;
    max-width: 300px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (max-width: 575px) {
  section.index-banner .fa-ul li {
    width: 100%;
  }
}
@media (max-width: 991px) {
  section.index-banner {
    padding: 30px 0;
  }
  section.index-banner pre {
    padding: 10px;
    margin: 10px 0 5px 0;
  }
  section.index-banner h1 {
    font-size: 26px;
  }
  section.index-banner h5 {
    font-size: 16px;
  }
  section.index-banner .img-banner {
    display: none;
  }
}
@media (max-width: 1199px) {
  section.index-banner .img-banner .anim1,
  section.index-banner .img-banner .anim2,
  section.index-banner .img-banner .anim3,
  section.index-banner .img-banner .anim4 {
    transform: scale(0.8);
  }
}

section.index-separator {
  padding: 60px 0;
}
section.index-separator .button {
  display: inline-block;
  background: var(--color-gradient);
  color: white;
  margin-top: 20px;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid var(--color-primary);
  transition: 0.3s all ease;
}
section.index-separator .button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 0 var(--color-primary);
}
section.index-separator .button.docs {
  margin-left: 10px;
  background: white;
  color: var(--color-primary);
}
@media (prefers-color-scheme: dark) {
  section.index-separator .button.docs {
    color: var(--color-soft);
  }
}
section.index-separator h1 {
  font-size: 36px;
  text-align: center;
}
section.index-separator.background {
  background-color: var(--color-soft);
}
section.index-separator.background h1 {
  color: var(--color-strong);
}
section.index-separator h5 {
  color: dimgray;
  font-weight: 300;
  font-size: 18px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  section.index-separator h5 {
    color: white;
  }
}
section.index-separator a {
  text-decoration: none;
  color: black;
}
section.index-separator .card {
  transition: 0.3s all ease;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  section.index-separator .card {
    background-color: #3e545e;
    border-color: #26374c;
    color: white;
  }
}
section.index-separator .card:hover {
  border-color: #c27a93;
  transform: translateY(-2px);
  box-shadow: 5px 5px 0 var(--color-primary);
}
section.index-separator .card-body {
  text-align: center;
  padding: 30px 10px;
}
section.index-separator .card-body i {
  color: var(--color-strong);
  font-size: 40px;
  display: block;
  margin-bottom: 30px;
}
@media (prefers-color-scheme: dark) {
  section.index-separator .card-body i {
    color: var(--color-primary);
  }
}
@media (max-width: 375px) {
  section.index-separator .button {
    max-width: 300px;
    display: block;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (max-width: 991px) {
  section.index-separator {
    padding: 30px 0;
  }
  section.index-separator h1 {
    font-size: 26px;
  }
  section.index-separator h5 {
    font-size: 16px;
  }
  section.index-separator .card {
    margin: 10px 0;
  }
}

a.mobile-menu-button {
  border-radius: 5px;
  position: absolute;
  top: 30px;
  cursor: pointer;
  right: 20px;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  z-index: 2;
  font-size: 20px;
}
@media (min-width: 992px) {
  a.mobile-menu-button {
    display: none;
  }
}

section.mobile-menu {
  background: var(--color-gradient);
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all ease;
}
section.mobile-menu.show {
  max-height: 250px;
}
section.mobile-menu .nav-link {
  padding: 12px 20px;
  text-align: center;
  display: block;
}
section.mobile-menu .nav-link a {
  position: relative;
  color: white;
  text-decoration: none;
}
section.mobile-menu .nav-link a.active:after {
  content: "";
  width: calc(100% + 20px);
  position: absolute;
  bottom: -10px;
  left: -10px;
  height: 2px;
  background-color: white;
}
@media (min-width: 992px) {
  section.mobile-menu {
    display: none;
  }
}

footer {
  background: var(--color-gradient);
  color: white;
  font-size: 14px;
  padding: 20px 0;
}
footer a {
  color: white;
  border-bottom: 1px dotted white;
  transition: 0.3s all ease;
}
footer a:hover {
  color: var(--color-soft);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  footer a:hover {
    color: lightgray;
  }
}
footer i {
  color: var(--color-soft);
}
@media (prefers-color-scheme: dark) {
  footer i {
    color: white;
  }
}

section.docs-header {
  background-color: var(--color-soft);
  padding-bottom: 50px;
}
section.docs-header h1 {
  font-size: 36px;
  color: var(--color-strong);
}
section.docs-header a {
  color: var(--color-strong);
  text-decoration: none;
}
section.docs-header .version {
  background-color: white;
  font-size: 13px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  section.docs-header .version {
    background-color: #202936;
  }
}
section.docs-header .version span {
  font-size: 11px;
}
section.docs-header .dropdown-menu.show {
  top: auto;
  left: auto;
}
section.docs-header .dropdown-item {
  font-size: 13px;
}
section.docs-header .dropdown-item span {
  font-size: 11px;
}
@media (max-width: 991px) {
  section.docs-header {
    padding: 30px 0;
  }
  section.docs-header h1 {
    font-size: 30px;
  }
}

section.docs {
  padding: 30px 0;
}
section.docs .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
section.docs .menu {
  background-color: #fafafa;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}
@media (prefers-color-scheme: dark) {
  section.docs .menu {
    background-color: #202936;
    border-color: #0a1524;
  }
}
section.docs .menu h3 {
  font-size: 14px;
  margin-top: 10px;
}
section.docs img {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
}
section.docs a {
  color: var(--color-primary);
}
section.docs h1 {
  font-weight: 500;
  font-size: 32px;
  color: var(--color-primary);
  margin-bottom: 30px;
}
section.docs h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}
section.docs code {
  font-family: "Roboto Mono", monospace;
  font-weight: inherit;
}
section.docs code:not(.hljs) {
  color: var(--color-primary);
}
section.docs pre .hljs {
  position: relative;
  overflow-x: overlay;
  background-color: #fafafa;
}
section.docs pre .hljs::-webkit-scrollbar {
  height: 7px;
}
section.docs pre .hljs::-webkit-scrollbar-track {
  background: transparent;
}
section.docs pre .hljs::-webkit-scrollbar-thumb {
  background: transparent;
}
section.docs pre .hljs:hover::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}
@media (prefers-color-scheme: dark) {
  section.docs pre .hljs {
    background-color: #202936;
  }
}
section.docs pre * {
  font-family: "Roboto Mono", monospace;
  font-weight: inherit;
}
@media (max-width: 991px) {
  section.docs {
    font-size: 16px;
  }
  section.docs pre {
    overflow-x: auto;
  }
  section.docs h1 {
    font-size: 26px;
  }
}

section.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-soft);
  color: white;
  text-align: center;
  padding: 20px;
}
section.error img {
  height: 400px;
  display: block;
  margin: auto;
}
section.error h3 {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-primary);
  margin: 0 auto 30px auto;
  max-width: 350px;
  text-align: center;
  margin-top: 30px;
}
section.error .button {
  display: block;
  background-color: var(--color-primary);
  color: white;
  margin: 20px auto 0 auto;
  max-width: 150px;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid var(--color-primary);
  transition: 0.3s all ease;
}
section.error .button:hover {
  background-color: var(--color-strong);
}
section.error .attrib {
  margin-top: 20px;
  font-size: 12px;
  display: block;
  color: dimgray;
}
@media (max-width: 768px) {
  section.error img {
    height: 300px;
  }
}
@media (max-width: 489px) {
  section.error img {
    height: 200px;
  }
  section.error h3 {
    font-size: 18px;
  }
}

section.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  background-color: white;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all ease;
}
@media (prefers-color-scheme: dark) {
  section.preloader {
    background-color: #37474f;
  }
}
section.preloader.hide {
  opacity: 0;
  pointer-events: none;
}