@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 30px 0;
  border-bottom: 1px solid gainsboro;
}
header .logo {
  width: 100%;
}
header pre {
  margin: 0;
  margin-top: 5px;
  background-color: #f39c12;
  color: white;
  display: inline-block;
  padding: 5px 15px;
}
header h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

main a {
  color: #512da8;
}
main a:hover {
  color: #512da8;
}
main h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}
main h3 {
  font-size: 18px;
  font-weight: 600;
}
main pre .hljs {
  position: relative;
  overflow-x: overlay;
  background-color: #202936;
}
main pre .hljs::-webkit-scrollbar {
  height: 7px;
}
main pre .hljs::-webkit-scrollbar-track {
  background: transparent;
}
main pre .hljs::-webkit-scrollbar-thumb {
  background: transparent;
}
main pre .hljs:hover::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}
main pre * {
  font-family: "Roboto Mono", monospace;
  font-weight: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #263238;
    color: white;
  }
  main a {
    color: #a4c3d3;
  }
  main a:hover {
    color: #a4c3d3;
  }
  main code {
    color: #a4c3d3;
  }
  header .logo {
    filter: grayscale(1) invert(1);
  }
  header pre {
    background-color: #3b414a;
  }
}