::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
}

body {
    font-family: var(--font), 'Segoe UI', 'Tahoma', 'Ubuntu', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
}

section.layout {
    display: flex;
    width: 100%;
    height: 100%;
}

section.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--header-bg-color);
    padding: 15px 60px;
    text-align: center;
    display: none;
    font-size: 18px;
}

section.header a {
    color: var(--header-text-color);
    text-decoration: none;
    cursor: pointer;
}

section.header .menu-button {
    position: absolute;
    left: 20px;
    top: calc(50% - 10px);
    font-size: 20px;
}

section.header .menu-edit {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    font-size: 20px;
}

section.edit {
    position: fixed;
    right: 0;
    top: 30px;
}

section.edit a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    font-size: 13px;
    line-height: 1.1;
}

section.edit i {
    font-size: 18px;
    margin-right: 15px;
}

section.menu {
    flex: 0 0 250px;
    background-color: var(--menu-bg-color);
    border-right: 1px solid var(--menu-border-color);
    overflow-y: auto;
    padding: 30px 20px;
    font-size: 14px;
    transition: 0.3s all;
}

section.menu:hover::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

section.menu .logo,
section.menu .logo-dark {
    height: 45px;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

@media (prefers-color-scheme: dark) {
    section.menu .logo {
        display: none;
    }

    section.menu .logo-dark {
        display: block;
    }
}

@media (prefers-color-scheme: light) {
    section.menu .logo {
        display: block;
    }

    section.menu .logo-dark {
        display: none;
    }
}

section.menu .dropdown {
    margin: 15px 0;
}

section.menu .dropdown span {
    color: var(--secondary-color);
    font-size: 12px;
}

section.menu .dropdown .dropdown-toggle {
    cursor: pointer;
}

section.menu .dropdown-menu a {
    font-size: 14px;
}

section.menu h3 {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
}

section.menu a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

section.menu .search-bar input {
    width: 100%;
    border-radius: 4px;
    max-width: 300px;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 15px;
    font-size: 13px;
    margin-top: 20px;
}

section.menu .dropdown-menu {
    background-color: var(--bg-color);
}

section.content {
    padding: 50px 80px;
    overflow-y: auto;
    flex: 0 1 100%;
    transition: 0.3s all;
}

section.content:hover::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

section.content a {
    color: var(--primary-color);
}

section.content img {
    max-width: 100%;
}

section.content code:not(.hljs) {
    color: var(--primary-color);
    font-weight: 600;
}

section.content table {
    width: 100%;
}

section.content table thead th {
    padding: 10px 5px;
    border-bottom: 1px solid var(--primary-color);
}

section.content table tbody tr:nth-of-type(odd) {
    background-color: var(--code-block-color);
}

section.content table tbody td {
    padding: 10px 5px;
    border-bottom: 1px solid var(--menu-border-color);
}

section.content blockquote {
    background-color: var(--code-block-color);
    padding: 10px 20px;
    border-left: 5px solid var(--primary-color);
}

section.content blockquote p {
    margin-bottom: 0;
}

section.content h1 {
    font-weight: 500;
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

section.content h2 {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
}

section.content h3 {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 30px;
}

section.content h4 {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 30px;
}

section.content h5,
h6 {
    font-weight: 600;
    font-size: 1em;
    margin-top: 30px;
}

section.content pre * {
    font-weight: inherit;
    font-family: var(--code-font), 'Courier', 'Consolas', monospace !important;
}

section.copyright {
    font-size: 12px;
}

section.copyright hr {
    margin: 35px 0 20px;
}

section.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}

section.not-found h1 {
    color: var(--primary-color);
    font-size: 10em;
    font-weight: 300;
}

section.not-found h3 {
    font-weight: 400;
    font-size: 1.2em;
}

section.not-found a {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
}

section.not-found a i {
    margin-right: 7px;
}

@media (max-width: 991px) {
    body {
        font-size: 14px;
    }

    section.edit {
        display: none;
    }

    section.menu {
        position: fixed;
        z-index: 1;
        left: -100%;
        top: 0;
        width: 90%;
        height: 100%;
        padding: 10px 20px;
        padding-top: 67px;
    }

    section.menu.show {
        left: 0;
    }

    section.menu .logo,
    section.menu .logo-dark {
        display: none;
    }

    section.content {
        padding: 40px 30px;
        padding-top: 87px;
    }

    section.header {
        display: block;
        z-index: 2;
    }

    section.not-found {
        font-size: 13px;
    }

    section.not-found h1 {
        font-size: 7em;
    }

    section.not-found a {
        font-size: 13px;
        margin-top: 10px;
    }
}

.markdown-alert {
    padding: 0.1px 1rem;
    margin-bottom: 16px;
    color: inherit;
    border-left: 0.25em solid #888;
    height: fit-content;
    width: fit-content;
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}

.markdown-alert .markdown-alert-title:before {
    margin-right: 0.5rem;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
}

.markdown-alert.markdown-alert-note {
    border-left-color: #478be6;
    color: #478be6;
}

.markdown-alert.markdown-alert.markdown-alert-note .markdown-alert-title:before {
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="%23478be6" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg>');
}

.markdown-alert.markdown-alert-tip {
    border-left-color: #57ab5a;
    color: #57ab5a;
}

.markdown-alert.markdown-alert.markdown-alert-tip .markdown-alert-title:before {
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="%2357ab5a" d="M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z"/></svg>');
}

.markdown-alert.markdown-alert-important {
    border-left-color: #986ee2;
    color: #986ee2;
}

.markdown-alert.markdown-alert.markdown-alert-important .markdown-alert-title:before {
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="%23986ee2" d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/></svg>');
}

.markdown-alert.markdown-alert-warning {
    border-left-color: #c69026;
    color: #c69026;
}

.markdown-alert.markdown-alert.markdown-alert-warning .markdown-alert-title:before {
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="%23c69026" d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/></svg>');
}

.markdown-alert.markdown-alert-caution {
    border-left-color: #e5534b;
    color: #e5534b;
}

.markdown-alert.markdown-alert.markdown-alert-caution .markdown-alert-title:before {
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="%23e5534b" d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg>');
}

.markdown-alert p:last-child {
    color: var(--text-color);
    margin-bottom: 0;
}
